doctype html
html(lang="en")
  head
    title as3
  body
    h1 Please Signup
    form(action= '/homepage', method= 'post')
        label Please enter your email: 
            input(type='text', name='email')
        label Please enter your password: 
            input(type='password', name='password')
        button(type='submit') Singup
    h1 Or Signin 
    form(action= '/homepage', method= 'post')
        label Please enter your email: 
            input(type='text', name='signinEmail')
        label Please enter your password: 
            input(type='password', name='signinPassword')
        button(type='submit') Singin



    